<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.startup">
        <startup class="org.aws.designer.eclipse.common.AWSStartup"/>
    </extension>
    <extension point="org.eclipse.ui.popupMenus">
        <objectContribution objectClass="org.eclipse.core.resources.IFolder" id="AWSDeveloper.contribution">
            <action class="com.actionsoft.aws.developer.actions.LinkAppAction" definitionId="com.actionsoft.aws.developer.actions.LinkAppAction" enablesFor="1" icon="icons/link.png" id="AWSDeveloper.linkAppAction" label="Link App">
            </action>
        </objectContribution>
    </extension>
    <!--extension point="org.eclipse.ui.commands"-->
        <!-- activeKeyConfiguration项用来说明所绑定快捷键的初始设置 -->
        <!--activeKeyConfiguration value="org.eclipse.ui.defaultAcceleratorConfiguration"/-->
        <!-- 如果快捷键设置有多套，可以添加多个类别 -->
        <!--category description="Link App Action Key" id="LinkAppAction.Category1" name="LinkAppAction.Category1"/-->
        <!-- 其中id为这个command的ID，相关的action通过这个ID标志找到这个command -->
        <!--command name="LinkAppAction.Command1" category="LinkAppAction.Command1" description="LInk App Action Key Command" id="com.actionsoft.aws.developer.actions.LinkAppAction"/-->
        <!-- 具体的快捷键设置，其中command指定实际的coomand的ID -->
        <!--keyBinding keySequence="Ctrl+Shift+A" command="com.actionsoft.aws.developer.actions.LinkAppAction" configuration="org.eclipse.ui.defaultAcceleratorConfiguration"/-->
    <!--/extension-->
</plugin>
